$primarycol: #ff4c68;
$accentcol: rgb(212, 64, 64);

body {
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
}

h2 h3 {
    font-family: 'Montserrat';
    font-weight: 900;
}



/* Navbar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

/* Sections */
.coloured-section {
    color: white;
    background: $primarycol;

}

.white-section {
    color: black;

}

/* Title Section */



.container-fluid {
    padding: 3% 15% 7%;

}

.heading--primary {
    font-family: 'Montserrat', ;
    font-weight: 900;
    line-height: 1, 5;
    margin-top: 2rem;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

    .img--primary {
    width: 55%;
    transform: rotate(25deg);
    margin: 0 0 0 3rem;
    position: absolute;}

    @media (max-width:1028px) {
        #title {
            text-align: center;
        }

        .img--primary {
            position: static;
            transform: rotate(0);
            padding-top: 1rem;

        }

    }
  



        /* Features */
        #features {

        padding: 2% 7%;
        position: relative;
        background-color: white;

        @media (max-width: 1000px) {
            .feature-tile {
                margin: 2rem 1.5rem;
                padding: 0;
            }

        }

        .fa {
            color: $accentcol;
            font-size: 2rem;
            padding: 0 0 .5rem;

            .fa:hover {
                color: #ff4c68;
            }

            .feature-title {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 1.5rem;

            }

            .feature-p {
                color: #8f8f8f;
            }


            /* Testamonials */


            .carousel-item {

                padding: 2% 7%;
            }

            .testamonial-subtitle {
                font-family: 'Montserrat';
                font-size: 2rem;
                font-weight: 900;
            }

            .test-image {
                width: 10%;
                border-radius: 100%;
                margin: 20px;
            }

         


            /* Press */

            #press {
                padding-bottom: 2%;
            }

            .press-logo {
                width: 15%;
                margin: 0px 20px 50px;
            }

            /* Pricing */

            #pricing {

                padding: 5% 7%;
            }

            .pricing-column {
                padding: 3% 2%;

            }


        }

        .pricing-text {
            font-weight: 900;

        }


        /* Call to Action */

        #cta {
            padding: 3% 7%;
        }

        .cta-header {
            padding: 0 7%;
            font-family: 'Montserrat';
            font-weight: 900;
            
        } 
    } 

